#logo{
	width: 14%;
	height: auto;
	position: relative;
	left: 41%;
}

#navbar{
	background-color: #FF7479; /*#FF353B #FF4653*/
	/*height: 4em;*/
	margin-bottom: 1em;
}

#register{
	float: right;
}

#footer{
	background-color: #FF7479;
	margin-top: 1em;
}

a{
	color: black;
	/*background-color: #FF4653;*/
}

body{
	/*background-color: pink;*/
	background-image: linear-gradient(to bottom,#FFFFFF 0,#FF7479 100%) !important;
}

#cabecera{
	background-color: #FFFFFF;
}

#cda{
	float: right;
	margin-right: 1em;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: pink !important;
}

.well{
	background-image: linear-gradient(to bottom,#FFFFFF 0,#FFFFFF 100%) !important;
	/*background-image: linear-gradient(to bottom,#FFFFFF 0,#FF7479 100%) !important;*/
}

textarea {
   resize: none;
}

.botones-perfil{
	margin: 1.1em;
}