<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" /> 
	<title></title>
	<link rel="stylesheet" type="text/css" href="./templates/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./templates/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./templates/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="./templates/css/bootstrap-theme.min.css">
    {% block stylesheets %}
        
    {% endblock %}
	<style type="text/css">
		
		#logo{
			width: 16%;
			height: auto;
			position: relative;
			left: 42%;
		}

		#navbar{
			background-color: #FF7479; /*#FF353B #FF4653*/
			/*height: 4em;*/
			margin-bottom: 1em;
		}

		#register{
			float: right;
		}

		#footer{
			background-color: #FF7479;
			margin-top: 1em;
		}

		a{
			color: black;
			/*background-color: #FF4653;*/
		}

		body{
			background-color: pink;
		}

		#cabecera{
			background-color: #FFFFFF;
		}

	</style>
</head>
<body>
<div id="cabecera">
	<a href="index.php"><img id="logo" src="./templates/img/logo.jpg"></a>
</div>


{% block container %}
	
{% endblock %}
<cr>
<footer class="page-footer navbar-fixed-bottom" id="footer">
	<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="#">CONTACTO</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">FACEBOOK</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">TWITTER</a>
  </li>
	</ul>

</footer>
</body>
</html>
