{% extends "base_session.html.twig" %}

{% block title %}
Confirmar eliminar
{% endblock %}

{% block container %}
<div id="errores">aaaaa</div>
<div class="container">
	{% include 'errno.html.twig' %}
	<div class="row">
		<div class="col-sm-12 col-sm-offset-0 text-center well">{# tiene que ser la cantidad de postulados aceptados #}
			{% if viajes == 0 %}
				<h3>No posee usuarios aceptados, si lo elimina no se le descontaran puntos</h3>
			{% elseif viajes == 1 %}
				<h3>Si lo elimina se le descontara {{ viajes }} punto</h3>
			{% else %}
				<h3>Si lo elimina se le descontaran {{ viajes }} puntos</h3>
			{% endif %}
			
			<form method="post" class="" action="./?action=confirmar_eliminacion_en_cascada">
				<input type="hidden" name="puntaje" value="-{{ viajes }}">
				<input type="hidden" name="id" value="{{ vehiculo }}">
				<input type="submit" class="btn btn-primaryPink"  value="Confirmar">
				<input type="button" onclick="window.location='./index.php?action=lista_vehiculos'" class="btn btn-primaryPink"  value="Cancelar">
			</form>

		</div>
	</div>
</div>

{% endblock %}
