{% extends "base.html.twig" %}

{% block stylesheets %}

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> 
{% endblock %}

{% block container %}
	<div class="container">

<form class="col-lg-4">
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu email!">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Nombre</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Apellido</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Apellido">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Fecha de nacimiento</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Fecha de nacimiento">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contrasena</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contrase単a">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Repita la contrasena</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repita la contrase単a">
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Acepto los terminos y condiciones</label>
  </div>

  <button type="submit" class="btn btn-primary">Registrarme!!!</button>
</form>

<form class="col-lg-4">
  <div class="form-group">
    <label for="exampleInputEmail1">Marca</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Marca">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Modelo</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Modelo">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Patente</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Patente">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Color</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Color">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Tipo</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Tipo de vehiculo">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Asientos</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Cantidad de asientos a usar">
  </div>

  <button type="submit" class="btn btn-primary">Registrarme!!!</button>
</form>

<form class="col-lg-4">
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese se mail">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Contrase単a</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su ontrase単a">
  </div>
 </form>
	</div>
{% endblock %}