{% extends "layout.html.twig" %}
{% block content %}
{% if errorTipo is defined %} <h3> ocurrio error validando </h3> {% endif %} 
    <form method="POST" action="./?action=validarFormPN">
        <label>Nom y ape</label>
        <input type="text" name="nomYape" required><br>
        <label>direccion</label>
        <input type="text" name="direccion" required><br>
         <select name="tipoDoc">
  				<option value="1">DNI</option>
  				<option value="2">Le</option>
  				<option value="3">Lc</option>
 			 	<option value="4">pasaporte</option>
		</select><br>
        <label>numero</label>
        <input type="text" name="numero" required><br>
        <label>Haga su pedido</label>
        <input type="text" name="carta" required><br>
        <input type="submit" name="ingresarForm">
    </form>
{% endblock %}