{% extends "base.html.twig" %}

{% block container %}
<nav class="nav" id="navbar">
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="index.php">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="index.php?action=login">Login</a>
  </li>
  <li class="nav-item" id="register">
    <a class="nav-link disabled" href="index.php?action=registrarse">Registrarse</a>
  </li>

</ul>
</nav>
<div class="container">

<div id="buscador">
<div class="row">
<div class="col-sm-4 col-sm-offset-4 text-center well">
<form id="buscador">
  <div class="form-group">
    <label for="exampleInputPassword1">Origen</label>
    <input type="text" class="form-control" id="origen" placeholder="Origen" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Destino</label>
    <input type="text" class="form-control" id="destino" placeholder="Donde quieres ir?">
  </div>
  <div class="form-check">
    <label for="exampleCheck1">Fecha de salida</label>
    <input type="date" class="form-check-input" id="salida" required>
  </div>
  <cr>
  <button type="submit" class="btn btn-primaryPink">Submit</button>
</form>
</div>
</div>
</div>

<div id="publicar_viaje">

<div class="row">
<div class="col-sm-4 col-sm-offset-4 text-center well">
<form id="buscador">
  <div class="form-group">
    <label for="">Fecha</label>
    <input type="date" class="form-control" id="fecha" name="fecha" placeholder="Fecha" required>
  </div>
  <div class="form-group">
    <label for="">Precio</label>
    <input type="text" class="form-control" id="precio" name="precio" placeholder="precio" required>
  </div>
  <div class="form-group">
    <label for="">Duracion</label>
    <input type="text" class="form-control" id="duracion" name="durecion" placeholder="duracion" required>
  </div>
  <div class="form-group">
    <label for="">Origen</label>
    <select class="form-control" id="origen" name="origen" required>
  	  <option value=""> </option>
  	</select>
  </div>
  <div class="form-group">
    <label for="">Destino</label>
    <select class="form-control" id="destino" name="destino">
  	  <option value=""> </option>
  	</select>
  </div>
  <div class="form-group">
    <label for="">Vehiculo</label>
  	<select class="form-control" id="vehiculo" name="vehiculo" required>
  	  <option value=""> </option>
  	</select>
  </div>
  <div class="form-group">
    <label for="">Comentarios</label>
    <input type="textarea" class="form-control" id="comentarios" name="comentarios" placeholder="comentarios" required>
  </div>

  <cr>
  <button type="submit" class="btn btn-primaryPink">Submit</button>
</form>
</div>
</div>
</div>

<div id="viajes_actuales">
<div class="row">
<div class="col-sm-4 col-sm-offset-4 text-center well">
	<p>
	No hay viajes disponibles
	</p>
</div>
</div>

</div>
<cr>
{% endblock %}