{% extends "base.html.twig" %}

{% block title %}
Inicio
{% endblock %}

{% block container %}

<div class="container">
	<div class="row row-list">
		<div id="seccion-buscador" class="col-xs-4 col-md-4 col-lg-4">
			<div class="row" >
				<div class="col-sm-12 col-sm-offset-12 pull-right well">
					<form id="buscador" action="./?action=buscando" method="POST">
						<div class="form-group">
							<label for="exampleInputPassword1">Origen</label>
							<input type="text" class="form-control" id="origen" name="origen" placeholder="Origen" required>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Destino</label>
							<input type="text" class="form-control" id="destino" name="destino" placeholder="Donde quieres ir?">
						</div>
						<div class="form-check">
							<label for="exampleCheck1">Fecha de salida</label>
							<input type="date" class="form-check-input" id="salida" name="salida" required>
						</div>  
						<br>
						<button type="submit" class="btn btn-primaryPink">Buscar</button>
					</form>
				</div>
			</div>
		</div>
		<div id="viajes_actuales" class="col-xs-8 col-md-8 col-lg-8">
			<div class="row">
				<div class="col-sm-11 col-sm-offset-11 pull-right well">
				{% if datos.listadoCompletoDeViajes is defined %} 
					<h3 style="text-align:center; color:black;"> Proximos viajes </h3> 
					<p style="color:black;"> {{ datos.listadoCompletoDeViajes }} </p>
				{% else %} 
						<p style="text-align:center; color:black;"> {{ datos.mensajeDeResultado }} </p>
			 	{% endif %}
				<!--	<div class="container">
  						<h2>Pagination</h2>
  						<p>hola, soy un parrafo y estoy al pedo :D</p>                  
  						<ul class="pagination">
  								<h2>List Group With Linked Items</h2>
  								<div class="list-group">
    								<a href="#" class="list-group-item">First item</a>
    								<a href="#" class="list-group-item">Second item</a> 
    								<a href="#" class="list-group-item">Third item</a>
  								</div>
    						<li><a href="#">1</a></li>
    						<li><a href="#">2</a></li>
    						<li><a href="#">3</a></li>
    						<li><a href="#">4</a></li>
   							<li><a href="#">5</a></li>
  						</ul>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}