{% extends "base_sin_pagar.html.twig" %}

{% block title %}
Debe pagar!
{% endblock %}

{% block container %}
<div class="container">
	{% include 'errno.html.twig' %}
    <div class="row">
        <div class="col-sm-12 col-sm-offset-0 text-center well">
        	<h3>Debe pagar las deudas pendientes antes de poder seguir</h3>
        	<a class="btn btn-primaryPink" href="index.php?action=listar_viajes_a_pagar">Pagar</a>
        </div>
    </div>
</div>
{% endblock %}