{% extends "base.html.twig" %}

{% block stylesheets %}

{% endblock %}

{% block container %}
<nav class="nav" id="navbar">
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="index.php">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="index.php?action=registrar_vehiculo">Registrar Vehiculo</a>
  </li>
  <li class="nav-item" id="modificar_perfil">
    <a class="nav-link disabled" href="index.php?action=modificar_perfil">Modificar perfil</a>
  </li>
  <li class="nav-item" id="register">
    <a class="nav-link disabled" href="index.php?action=cerrar_sesion">Cerrar Sesion</a>
  </li>

</ul>
</nav>
<div class="container">
{% if nombre is defined %} <h4 style="text-align:left; color:black;"> {{ nombre }} </h4> {% endif %}
</div>

{% endblock %}