{% extends "base_session.html.twig" %}

{% block title %}
Mi perfil		
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block container %}


<div class="container">
{% if nombre is defined %} <h3 style="text-align:center; color:black;"> {{ nombre }} </h3> {% endif %}
</div>
<div>
	<button class="btn btn-primaryPink"><a class="nav-link active" href="index.php?action=registrar_vehiculo">Registrar Vehiculo</a></button>
</div>

{% endblock %}