{% extends "base.html.twig" %}

{% block stylesheets %}
<script src="./templates/js/validacionRegistro.js"></script>
{% endblock %}

{% block container %}
<nav class="nav" id="navbar">
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="index.php">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="index.php?action=login">Login</a>
  </li>
  
  </ul>
</nav>
  <div class="container">

<form class="col-lg-4" method="post" action="./?action=crear_usuario" onsubmit="return validarRegistro()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" required class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Ingresa tu email!">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Nombre</label>
    <input type="text" required class="form-control" id="nombre" name="nombre" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Apellido</label>
    <input type="text" required class="form-control" id="apellido" name="apellido" placeholder="Apellido">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Fecha de nacimiento</label>
    <input type="date" required class="form-control" id="nacimiento" name="nacimiento" placeholder="Fecha de nacimiento">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contrase単a</label>
    <input type="password" required class="form-control" id="pass" name="pass" placeholder="Contrase単a">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Repita la contrase単a</label>
    <input type="password" required class="form-control" id="pass1" name="pass1" placeholder="Repita la contrase単a">
  </div>

  <div class="form-group form-check">
    <input type="hidden" name="check" value="0">
  <input type="checkbox" required class="form-check-input" id="exampleCheck1" name="check" value="1">
    <label class="form-check-label" for="exampleCheck1">Acepto los terminos y condiciones</label>
  </div>
  <input type="submit" class="btn btn-primaryPink" value='Registrarme'>
</form>
</div>
{% endblock %}