{% extends "base.html.twig" %}

{% block stylesheets %}

{% endblock %}

{% block container %}
<nav class="nav" id="navbar">
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="index.php">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="index.php?action=mostrar_perfil">Mostrar Perfil</a>
  </li>
  <li class="nav-item" id="register">
    <a class="nav-link disabled" href="index.php?action=cerrar_sesion">Cerrar Sesion</a>
  </li>

</ul>
</nav>
<div class="container">
<div class="row">
<div class="col-sm-4 col-sm-offset-4 text-center well">
<form class="col-lg-12" method="post" action="./?action=crear_vehiculo">
  <div class="form-group">
    <label for="exampleInput">Marca</label>
    <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca" required>
  </div>

  <div class="form-group">
    <label for="exampleInput">Modelo</label>
    <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo" required>
  </div>
  <div class="form-group">
    <label for="exampleInput">Patente</label>
    <input type="text" class="form-control" id="patente" name="patente" placeholder="Patente" required>
  </div>
  <div class="form-group">
    <label for="exampleInput">Color</label>
    <input type="text" class="form-control" id="color" name="color" placeholder="Color" required>
  </div>
  <div class="form-group">
    <label for="exampleInput">Tipo</label>
    <select class="form-control" id="tipo" name="tipo" placeholder="Tipo de vehiculo">

{% if tipoVehiculo is defined %} 
	{% for key,nombre in tipoVehiculo %}
      <option value={{ key }}>{{ nombre }}</option>
    {% endfor %}
{% endif %}

    </select>
  </div>
  <div class="form-group">
    <label for="exampleInput">Asientos</label>
    <input type="text" class="form-control" id="asientos" name="asientos" placeholder="Cantidad de asientos a usar" required>
  </div>

  <button type="submit" class="btn btn-primaryPink">Registrar</button>
</form>
</div>
</div>
</div>
{% endblock %}