{% extends "base_session.html.twig" %}

{% block title %}
  Registrar vehiculo
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block container %}

<div class="container">
<div class="row">
<div class="col-sm-4 col-sm-offset-4 text-center well">
<form class="col-lg-12" method="post" action="./?action=crear_vehiculo">
  <div class="form-group">
    <label for="exampleInput">Marca</label>
    <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca" required>
  </div>

  <div class="form-group">
    <label for="exampleInput">Modelo</label>
    <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo" required>
  </div>
  <div class="form-group">
    <label for="exampleInput">Patente</label>
    <input type="text" class="form-control" id="patente" name="patente" placeholder="Patente" required>
  </div>
  <div class="form-group">
    <label for="exampleInput">Color</label>
    <input type="text" class="form-control" id="color" name="color" placeholder="Color" required>
  </div>
  <div class="form-group">
    <label for="exampleInput">Tipo</label>
    <select class="form-control" id="tipo" name="tipo" placeholder="Tipo de vehiculo">

{% if tipoVehiculo is defined %} 
	{% for each in tipoVehiculo %}
      <option value="{{ each.id }}">{{ each.nombre }}</option>
    {% endfor %}
{% endif %}

    </select>
  </div>
  <div class="form-group">
    <label for="exampleInput">Asientos</label>
    <input type="text" class="form-control" id="asientos" name="asientos" placeholder="Cantidad de asientos a usar" required>
  </div>

  <button type="submit" class="btn btn-primaryPink">Registrar</button>
</form>
</div>
</div>
</div>
{% endblock %}